<!doctype html>
<html>
    <head>
        <title>containers & scaling repo</title>
    </head>
    <body>
		<img src="{{url_for('static', filename='spidey.jpg')}}" align="middle" width=300 height=500/>

		
        <h1>{{ random_quote }}!</h1>

        <h1>Repository: <a href="https://gitlab.com/reinaldomaslim/containers">https://gitlab.com/reinaldomaslim/containers</a>
        
    </body>
</html>